nav li {
    display: inline-block;
    padding-right: 3px;
}

ul {
    padding-inline-start: 0;
}

body {
    margin-left: 10px;

}

a {
    text-decoration: underline;
    color: #0f52e2;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 100px;
}

article {
    margin-bottom: 20px;
}

.btn {
    color: black;
    background-color: rgb(43, 171, 43);
    padding: 5px;
}

.btn a {
    color: black;
}